@{
    ViewData["Title"] = "Home Page";
}

<div class="map-container">
    <div id="map"></div>


    <div class="map-container-actions">
        <button class="back-to-main-btn" id="back-to-main-btn">
            <p><- Back</p>
        </button>

        <div class="route-info-container">
            <div class="estimates-details-container">
                <p class="title">Estimated Distance and Time</p>
                <div class="estimates-details">
                    <p class="distance">12km</p>
                    <p class="slesh">/</p>
                    <p class="time">4 hours</p>
                </div>

            </div>


            <div class="full-route-details-container">
                <p class="title">Number of Stops</p>
                <div class="full-route-details">
                    <p class="stops-nums">12 stops</p>
                    <a href="#" id="viewDetailsBtn">View Details</a>
                    
                </div>
                <div class="full-info">
                        <hr>
                        <ul>
                            <li><span>01</span><p>Apt. 771 6591 Shayne Estate</p></li>
                            <li><span>02</span><p>Київ</p></li>
                            <li><span>03</span><p>Київ</p></li>
                            <li><span>04</span><p>Київ</p></li>
                            <li><span>05</span><p>Київ</p></li>
                            <li><span>06</span><p>Київ</p></li>
                            <li><span>07</span><p>Київ</p></li>
                            <li><span>08</span><p>Київ</p></li>
                            <li><span>09</span><p>Київ</p></li>
                            <li><span>10</span><p>Київ</p></li>
                        </ul>
                    </div>
            </div>

            <button class="start-route-btn">
                <p>Start a route -></p>
            </button>
        </div>
    </div>



    
</div>
