@{
    ViewData["Title"] = "Login";
}

<div class="login-wrapper">

<div class="login-container">
<div class="login-info">
    <span><img src="~/img/icon1_black.svg" alt="Icon"></span>
    <h1>BriskRoute</h1>
    <p>Login to access extra features</p>
</div>

 <div class="login-content">
                <div class="login-inputs">
                    <div class="login-form-item">
                        <div class="login-form-item-input-box">
                            <span>-></span>
                            <input class="login" placeholder="Enter your login" type="text" autocomplete="off">
                        </div>
                    </div>

                    <div class="login-form-item">
                        <div class="login-form-item-input-box">
                            <span>-></span>
                            <input class="password" placeholder="Enter your password" type="text" autocomplete="off">
                        </div>
                    </div>

                </div>


                <a href="#" class="register-btn">+ Register</a>
            </div>


            <button class="login-btn">
                <p>Login -></p>
            </button>


</div>


</div>
