/* VARIABLES */
:root {
    --bg-color: #fff;
    --text-color: #84888C;
    --accent-color: #000000;
    --accent-color2: #9ac0fd;
}

/* GENERAL RULES */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


/* GENERAL RULES */


/* GOOGLE MAP */
.map-container {
    z-index: 1;
    top: 0;
    left: 3%;
    width: 100%; /* Занимает всю доступную ширину */
    height: 100%; /* Занимает всю высоту видимой части экрана */
}

#map {
    height: 100%;
    width: 100%;
}
/* GOOGLE MAP */
/* MENU */
.wrapper {
    position: relative;
    width: 100%; /* Занимает всю доступную ширину */
    height: 100%; /* Занимает всю высоту видимой части экрана */
    overflow-x: hidden;
}

.sidebar {
    position: absolute;
    width: 71px;
    height: 100%;
    z-index: 99;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
}

.overlay {
    position: fixed;
    z-index: 75;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.overlay-active {
    visibility: visible;
    opacity: 1;
    transition: visible 0.5, opacity 0.5s ease-in;
}

.menu-header {
    padding: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: left;
}

    .menu-header p {
        color: var(--text-color);
        font-size: 14px;
        font-weight: 400;
    }

.menu {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 21%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    transition: .5s;
    transform: translateX(-100%);
}

.menu-active {
    transform: translateX(0%);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
}



.menu-list {
    list-style: none;
    padding: 0;
    margin: 25px;
}

.menu-list-item {
    padding-bottom: 15px;
}


    .menu-list-item a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: var(--accent-color);
    }

        .menu-list-item a span {
            margin-right: 20px;
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: var(--accent-color);
        }

.menu .close-menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 0px;
}

    .menu .close-menu-btn span,
    .menu .close-menu-btn span::before,
    .menu .close-menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: var(--text-color);
    }

        .menu .close-menu-btn span::before,
        .menu .close-menu-btn span::after {
            content: '';
            display: block;
            transition: 0.2s;
        }

        .menu .close-menu-btn span::before {
            transform: translateY(-5px);
            transform: rotate(45deg);
        }

        .menu .close-menu-btn span::after {
            transform: translateY(5px);
            transform: rotate(-45deg);
        }

    .menu .close-menu-btn span {
        height: 0px;
    }


.sidebar .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    top: 10px;
    position: relative;
    border-radius: 50%;
}

    .sidebar .menu-btn span,
    .sidebar .menu-btn span::before,
    .sidebar .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -9px;
        width: 18px;
        height: 2.5px;
        background-color: var(--text-color);
    }

        .sidebar .menu-btn span::before,
        .sidebar .menu-btn span::after {
            content: '';
            display: block;
            transition: 0.2s;
        }

        .sidebar .menu-btn span::before {
            transform: translateY(-5px);
        }

        .sidebar .menu-btn span::after {
            transform: translateY(5px);
        }



.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-box {
    position: absolute;
    z-index: 50;
    left: 90px;
    top: 10px;
    width: 375px;
    display: flex;
    flex-direction: column;
}

.search-input-and-btn {
    width: 100%;
    height: 48px;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 42px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
}


.sb-suggestions {
    position: absolute;
    left: 90px;
    top: 53px;
    z-index: 50;
    list-style-type: none;
    align-items: center;
    padding: 0;
    transform: translateX(-110%);
    padding-top: 5px;
    margin-top: 15px;
    width: 375px;
    height: 275px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
    z-index: 50;
    overflow: hidden;
    transition: 0.5s;
}
.rb-suggestions{
    display: none;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin-top: 15px;


}
.rb-suggestions li {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}
.rb-suggestions li:hover {
    background-color: #00000019;
    transition: 0.5s;
}
.rb-suggestions-active{
   display: block;
}
.sb-suggestions-active {
    transform: translateX(0);
}

.sb-suggestions li {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 10px;
}

    .sb-suggestions li:hover {
        background-color: #00000019;
        transition: 0.5s;
    }



.search-box-input {
    position: relative;
    width: 90%;
    border: none;
    outline: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 10%;
}

    .search-box-input::placeholder {
        color: var(--text-color);
    }

.search-box-btn {
    border: none;
    background-color: transparent;
    padding-right: 10px;
    padding-bottom: 5px;
    fill: var(--text-color);
}

    .search-box-btn img {
        position: relative;
        max-height: 20px;
        fill: var(--text-color);
        color: var(--text-color);
    }


.route-builder {
    position: absolute;
    z-index: 50;
    left: 71px;
    top: 0px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: var(--bg-color);
    transform: translateX(-100%);
    transition: 0.5s;
    overflow-y: hidden;
}

.route-builder-active {
    transform: translateX(0%);
}

.route-builder-close-btn {
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

.build-route-btn {
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
}
.route-builder-item {
    width: 100%;
    margin: 9px 0px 9px 0px;
    height: 38px;
    display: flex;
    justify-content: space-between;
}

    .route-builder-item .input-block {
        width: 280px;
        padding: 0px 20px 0px 10px;
        border: 1px solid var(--text-color);
        border-radius: 5px;
    }
    
    .route-builder-item .input-block:hover{
        border-color: var(--accent-color);
    }

    .route-builder-item .input-block:focus-within{
        border: 3px solid var(--accent-color2) ;
    }

    .route-builder-item span{
        width: 28px;
        height: 100%;
        margin-right: 5px;
    
    }

    .route-builder-item i{
        display: flex; 
        justify-content: center; 
        align-items: center;
        font-size: 20px; 
        color: var(--text-color); 
       
    
    }

    .route-builder-item .input-block input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
    }

.delete-point-btn {
    border: none;
    width: 28px;
    height: 100%;
    background-color: var(--bg-color);
}

.add-route-point-btn {
    border: none;
    height: 38px;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 9px 0px 9px 0px;
    padding: 0px 20px 0px 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/* Кастомна кнопка на карті */
.custom-map-control {
    background-color: var(--bg-color);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
  }
  
  .custom-map-control div {
    color: var(--text-color);
    font-size: 14px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
  }